#header{
  border: 2px solid red;
 
}
#mainbody{
  border: 2px solid blue;
  background-color:rgb("100,0,0");
}
html{
  background-img: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR-PrmcMF3RodlOofd7eF2vgLDW3VNtDcwdx1Pktp6Kb0HTzEfW");
}
h1{
  background-color:yellow;
}
